# Environment
.env
venv/
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data (don't push large files / sensitive data to GitHub)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
